#mikes-message-bar {
    background-color: #000;
    width: 100%;
    display: flex;
    position:fixed;
    bottom:0;
    z-index:10;
    justify-content: center;
    padding:20px;
    display:none;
}
.static {
 	display:block !important;
	position:fixed;
}
@media screen and (max-width:800px) {
    #mikes-message-bar {
        display:flex !important;
    }
}
@media screen and (min-width:801px) and (max-width:1024px) {
    #mikes-message-bar {
        display:flex !important;
    }
}

#message-bar-inner-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
}
#left-bar-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#middle-bar-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#right-bar-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.left-icon, .middle-icon, .right-icon {
    margin-right:2%;
}
.fa-icon {
    margin-right:2%;
    font-size:45px;
}
.container-link:hover {
    color: var(--headline-hover) !important;
}

@media screen and (max-width:800px) {
    .message-bar-left-headline, .message-bar-middle-headline, .message-bar-right-headline {
        display:none;
    }
}
